* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.right input {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid gray;
}
.right input:first-child {
  width: 250px;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 60px;
}
.left img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}
